<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     coreApp="true"
     android:versionCode="30">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <permission android:name="com.itamadersomajinc.banglatype.HIDE_SOFT_INPUT"
         android:protectionLevel="signature"/>

    <application android:label="@string/english_ime_name"
         android:icon="@drawable/logo_banglatype"
         android:roundIcon="@drawable/logo_banglatype"
         android:supportsRtl="true"
         android:allowBackup="true"
         android:defaultToDeviceProtectedStorage="true"
         android:directBootAware="true">

        <service android:name="com.itamadersomajinc.banglatype.keyboard.LatinIME"
             android:label="@string/english_ime_name"
             android:permission="android.permission.BIND_INPUT_METHOD"
             android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data android:name="android.view.im"
                 android:resource="@xml/method"/>
        </service>

        <service android:name="com.itamadersomajinc.banglatype.keyboard.spellcheck.AndroidSpellCheckerService"
             android:label="@string/spell_checker_service_name"
             android:permission="android.permission.BIND_TEXT_SERVICE"
             android:exported="true">
            <intent-filter>
                <action android:name="android.service.textservice.SpellCheckerService"/>
            </intent-filter>
            <meta-data android:name="android.view.textservice.scs"
                 android:resource="@xml/spellchecker"/>
        </service>

        <service android:name="com.itamadersomajinc.banglatype.dictionarypack.DictionaryService"
             android:label="@string/dictionary_service_name">
        </service>

        <activity android:name="com.itamadersomajinc.banglatype.keyboard.setup.SetupActivity"
             android:theme="@style/platformActivityTheme"
             android:label="@string/english_ime_name"
             android:icon="@drawable/logo_banglatype"
             android:roundIcon="@drawable/logo_banglatype"
             android:launchMode="singleTask"
             android:noHistory="true"
             android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.itamadersomajinc.banglatype.keyboard.permissions.PermissionsActivity"
             android:theme="@android:style/Theme.Translucent.NoTitleBar"
             android:exported="false"
             android:taskAffinity="">
        </activity>

        <activity android:name="com.itamadersomajinc.banglatype.keyboard.setup.SetupWizardActivity"
             android:theme="@style/platformActivityTheme"
             android:label="@string/english_ime_name"
             android:clearTaskOnLaunch="true"
             android:exported="true">
        </activity>

        <activity android:name="com.itamadersomajinc.banglatype.keyboard.settings.SettingsActivity"
             android:theme="@style/platformSettingsTheme"
             android:label="@string/english_ime_settings"
             android:exported="true">
        </activity>

        <activity android:name="com.itamadersomajinc.banglatype.keyboard.spellcheck.SpellCheckerSettingsActivity"
             android:theme="@style/platformSettingsTheme"
             android:label="@string/android_spell_checker_settings"
             android:exported="true">
        </activity>

        <activity android:name="com.itamadersomajinc.banglatype.dictionarypack.DictionarySettingsActivity"
             android:theme="@style/platformSettingsTheme"
             android:label="@string/dictionary_settings_title"
             android:uiOptions="splitActionBarWhenNarrow"
             android:exported="true">
        </activity>

        <activity android:name="com.itamadersomajinc.banglatype.dictionarypack.DownloadOverMeteredDialog"
             android:theme="@style/platformActivityTheme"
             android:label="@string/dictionary_install_over_metered_network_prompt"
             android:exported="true">
        </activity>

        <activity android:name="com.itamadersomajinc.banglatype.keyboard.settings.TestFragmentActivity"
             android:exported="false"/>

        <receiver android:name="com.itamadersomajinc.banglatype.keyboard.SystemBroadcastReceiver"
             android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_INITIALIZE"/>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.android.inputmethod.latin.DictionaryPackInstallBroadcastReceiver"
             android:exported="false">
            <intent-filter>
                <action android:name="com.android.inputmethod.dictionarypack.aosp.UNKNOWN_CLIENT"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.itamadersomajinc.banglatype.dictionarypack.EventHandler"
             android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="com.android.inputmethod.dictionarypack.aosp.UPDATE_NOW"/>
                <action android:name="com.android.inputmethod.dictionarypack.aosp.INIT_AND_UPDATE_NOW"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.itamadersomajinc.banglatype.keyboard.accounts.AccountsChangedReceiver"
             android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED"/>
            </intent-filter>
        </receiver>

        <provider android:name="com.itamadersomajinc.banglatype.dictionarypack.DictionaryProvider"
             android:grantUriPermissions="true"
             android:exported="false"
             android:authorities="@string/authority"
             android:multiprocess="false"
             android:label="@string/dictionary_provider_name">
        </provider>
    </application>
</manifest>
